@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #303030;
    font-family: Nunito;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #181818;
    width: 130px;
    height: 48px;
    border-radius: 5px;
}
.juego-principal {
    width: 300px;
    height: 300px;
    background-color: #212121;
    border-radius: 5px;
}
.linea {
    display: flex;
}
.cuadro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 95px;
    color: #fff;
    font-size: 28px;
    transition: .2s;
    border: #181818 solid;
    border-radius: 5px;
}
.cuadro:hover {
    background-color: #181818;
    border-radius: 5px;
    cursor:pointer;
    font-size: 32px;
}

.pantalla-ganador{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    font-size: 45px;
    z-index: 100;
    color: #fff;
    background-color: #000000de;
    width: 100vh;
    height: 100vh;
    transition: .3s;
}
.volver-a-jugar {
    font-family: Nunito;
    font-weight: bold;
    font-size: 14px;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #0082d3;
    color: #cecece;
    transition: .2s;
    cursor: pointer;
}
.volver-a-jugar:hover {
    background-color: #0063a0;
    transform: scale(1.05,1.05);
}